<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inventario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- Searchbar with cancel button shown on focus -->
    <ion-searchbar showCancelButton="focus" (ionChange)="buscar($event)"></ion-searchbar>
    <ion-list>
      <ion-item-divider *ngFor="let item of productService.inventarios | filtro: textoBuscar: 'name'">
        <ion-row>
          <ion-col size="3">
            <img src="http://a1win.net/a1inv/storage/app/{{item.image}}">
          </ion-col>
          <ion-col size="9">
            <ion-row style="font-size:80%; font-weight: bold; color:black">
            {{item.name}}
            </ion-row>
            <ion-row style="font-size:80%; font-weight: bold; color:black">
            Talla: {{item.size}}
            </ion-row>
            <ion-row style="font-size:80%; font-weight: bold; color:black">
            Precio: Bs.{{item.amount}}
            </ion-row>
            <ion-row style="font-size:80%; color:black">
            Cantidad: {{item.total_quantity}} Ud.
            </ion-row>
            <ion-row>
              <ion-col size="12">
                  <ion-button expand="block" color="warning" (click)="buscar_inventario(item.product_id)">Ver</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item-divider>
    </ion-list>
  </ion-content>
  